.pdf2text__heading {
    display: flex;
    justify-content: flex-start;
    font-family: Roboto, sans-serif;
}

.pdf2text__heading__image {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 468px) {
    .pdf2text__heading {
        flex-direction: column;
    }

    .pdf2text__heading__image {
        align-self: flex-start;
    }
}
